<form action="/mailing" method="POST">
    <label for="input_destinatario">Destinatario</label>
    <input id="input_destinatario" name="destinatario" type="text">
    <br>
    <label for="input_mensaje">Mensaje</label>
    <input id="input_mensaje" name="mensaje" type="text">
    <br>
    <button type="submit">Submit</button>
</form>