<h1>Login</h1>

<p style="color:red;">Admin user: adminCoder@coder.com pass: 123456</p>
<p style="color:green;">Premium user: premium@premium.com pass: premium</p>
<p style="color:blue;">User user: ttt@ttt.com pass: ttt</p>

{{#if messages.error}}
  <div class="alert alert-danger">{{messages.error}}</div>
{{/if}}

{{#if messages.success}}
  <div class="alert alert-success">{{messages.success}}</div>
{{/if}}
<form id="loginForm" method="POST" action="/login">
    <label for="input_email">Email</label><input type="text" name="email" id="input_email"><br>
    <label for="input_password">Contraseña</label><input type="password" name="password" id="input_password"><br>
    <button>Login</button>
</form>
<br>
<a href="./register">Registrarme</a>
| <a href="./forgot-password">¿Olvidó su contraseña?</a>
<br><br>
<span>Login with: <a href="{{githubAuthUrl}}">GitHub</a></span>