<h1>Reset Password</h1>

{{#if messages.error}}
<div class="error">{{messages.error}}</div>
{{/if}}

{{#if messages.success}}
<div class="success">{{messages.success}}</div>
{{/if}}

<form method="POST" action="/reset-password/{{token}}">
  <input type="hidden" name="token" value="{{token}}">

  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>

  <label for="confirm-password">Confirm New Password:</label>
  <input type="password" id="confirm-password" name="confirmPassword" required>

  <button type="submit">Submit</button>
</form>